@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar personalizada */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thumb-indigo-500::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 4px;
}

.scrollbar-thumb-indigo-500::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5;
}

.scrollbar-track-gray-200::-webkit-scrollbar-track {
  background-color: #e5e7eb;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-track-gray-700::-webkit-scrollbar-track {
    background-color: #374151;
  }
}
